body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
  font-family: sans-serif;
  margin: 2rem;
}

.container {
  background-color: rgb(245, 248, 248);
  padding: 1em;
  max-width: 90%;
}

.card {
  background-color: rgb(233, 232, 232);
  font-family: Roboto;
  border-radius: 18px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
  /*change later*/
  max-width: 300px;
  min-width: 200px;
  text-align: center;
  padding:70px 0;
  transition: 0.5s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}